{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="messages">
    {% for message in messages %}
        <div {% if "error" in message.tags %}{% endif %}>
        
            {{message.tags}}
            {{message.message}}
        </div>
    {% endfor %}
    
    </div>
    <div class="userform">
    <form action="{%url 'pages:userform'%}" method="post" class="login">
    {% csrf_token %}
    {% for form in userformset %}
        <div class="field">
            {{form.as_ul}}
            {% for field in form.fields %}
                {{field.error}}
            {% endfor %}
        </div>
    {% endfor %}
        
        <input class="btn btn-secondary h-25 col-2" type="submit" value="Enter">
    </form>
    </div>
{% endblock content %}