{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="header__logo">
            <img src="{% static 'img/vtb_logo.png' %}" alt="">
        </div>
        
        <div class="header__title">
        {%block title%}
        {%endblock title%}
        </div>

        <div class="header__enter">
            {% if user.first_name or user.last_name%}
            <p>{{user.first_name}} {{user.last_name}}</p>
            {% else %}
            <p>{{user}}</p>
            {% endif %}
            
            {% for  group in user.groups.all %}
            <p>{{group.name}}</p>
            {% endfor %}
            {% if user.is_authenticated %}
            <a href="{%url 'pages:logout'%}"><button>Выход</button></a>
            {% endif %}

        </div>
    </header>
    <div class="content">
    {% block content %}
    {% endblock content %}
    </div>
    <footer>
        <div class="footer__ly">
        n13.tech © 2020
        </div>
    </footer>

    
</body>
</html>